COMPOSE_PROJECT_NAME=autotrading-local
POSTGRES_DB=autotrading
POSTGRES_USER=autotrading
POSTGRES_PASSWORD=autotrading_dev_only
KAFKA_PORT=9092
REDPANDA_CONSOLE_PORT=8081
IBKR_SIM_PORT=8080
OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318
PROMETHEUS_PORT=9090
LOKI_PORT=3100
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
